body {
    min-width: 190px;
}

button {
    border: none;
}

.buttonExecuteWrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
}

.setResetWrapper {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    gap: 10px;
}