body {
    min-width: 190px;
}

button {
    border: none;
}

.bottomElementsWrapper {
    display: flex;
    flex-direction: column;
    gap: 17px;
    align-items: center;
}

.bottomActionButtonWrapper {
    display: flex;
    flex-direction: row;
    gap: 13px;
}

.buttonExecuteWrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 25px;
}

.setResetWrapper {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    gap: 10px;
}

.usernameWrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.boxSliderWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
}